<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template.html}">
<head>
<meta charset="UTF-8">
<title>Modifier un événement</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
	integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
	crossorigin="anonymous">
</head>
<body>

	<div layout:fragment="content" align="center">
		<div class="container ">
			<!--Section: Contact v.2-->
			<section class="mb-4 ">

				<!--Section heading-->
				<h2 class="h1-responsive font-weight-bold text-center my-4">Modifier
					un événement</h2>
				<!--Section description-->

				<div class="row">

					<!--Grid column-->
					<div class="col-md-12 mb-md-0 mb-5">
						<form th:action="@{/saveEvent}" th:object="${evenement}"
							method="POST">

							<!-- Add hidden form field to handle update -->
							<input type="hidden" th:value="*{id_event}" />

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="name" class="">Nom événnement</label> <input
											type="text" id="nom_event" name="nom_event"
											class="form-control" th:value="*{nom_event}">

									</div>
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="email" class="">Type d'événement</label> <input
											type="text" id="type_event" name="type_event"
											class="form-control" th:value="*{type_event}">
									</div>
								</div>
								<!--Grid column-->

							</div>


							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="name" class="">Description</label> <input
											type="text" id="description" name="description"
											class="form-control" th:value="*{description}">

									</div>
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="email" class="">Lieu</label> <input type="text"
											id="localisation" name="localisation" class="form-control"
											th:value="*{localisation}">
									</div>
								</div>
								<!--Grid column-->

							</div>



							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="name" class="">Prix</label> <input type="text"
											id="prix" name="prix" class="form-control" th:value="*{prix}">

									</div>
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<label for="email" class="">Quantité</label> <input
											type="text" id="quantite" name="quantite"
											class="form-control" th:value="*{quantite}">
									</div>
								</div>
								<!--Grid column-->

							</div>

							<br>
							<!--Grid row-->
							<div class="row">
								<div class="col-md-12">
									<div class="md-form mb-0">
										<label for="subject" class="">Date</label> <input type="date"
											id="date_event" name="date_event" class="form-control"
											th:value="*{date_event}">
									</div>
								</div>
							</div>



							<br>
							<!--Grid row-->
							<button type="submit" class="btn btn-success col-2">Modifier</button>
						</form>
						<br>


						<!--Grid column-->
						<a th:href="@{/index}">Annuler</a>
					</div>
			</section>
			<!--Section: Contact v.2-->
		</div>
	</div>

</body>
</html>