<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Gestion Evenement</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>

	<!-- HEADER -->
	<header>		
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i> Rechercher Event </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/rechercheType}">Type</a> <a
								class="dropdown-item" th:href="@{/rechercheLoca}">Localisation</a> <a
								class="dropdown-item" th:href="@{/rechercheDate}">Date</a>
						</div></li>

					<li class="nav-item"><a class="nav-link" th:href="@{/addContact}"><i class="far fa-address-book"></i> Contact</a>
					</li>
		        </ul>
		    </div>
		    <div class="mx-auto order-0">
		        <a class="navbar-brand" th:href="@{/index}"><i class="far fa-calendar-alt"></i> G-EVENT</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		    </div>
		    
		    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		        <ul class="navbar-nav ml-auto">
		            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Connexion</a>
		            <li class="nav-item"><a class="nav-link" th:href="@{/register}">S'inscrire</a>
		            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a>
		            <li class="nav-item">
		                <a class="nav-link" href="https://github.com/humazuhair/Application-e-billet"><i class="fab fa-git-square fa-2x"></i></a>
		            </li>
		            
		            
		            
		            
		        </ul>
		    </div>
		</nav>
		
	</header>
	<br>
	
	<!-- CONTENT -->
	<section layout:fragment="content"></section>
	<br>
	
	<!-- FOOTER -->
	<footer>
		<div class="navbar fixed-bottom">
			<small>@Gestions événements - TOURS </small>
		</div>
	</footer>

	<!-- JS SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>